extends ../layout

block content
  .container-dt
    .main-dt
      .section.new-released
        .section-title
          span.section-title-header New Released
          span.section-title-more 
            a(href="javascript:void(0);" data="date") more>>
        .clearfix
        .section-content
          .item-container
            for item in resultTopNReleased
              .item-card(data=item.video_id)
                a(href='javascript:void(0)')
                  img(src=item.image_url)
                  i
                .item-title 
                  a(href='javascript:void(0)') #{item.video_name}
      .section.top-view
        .section-title
          span.section-title-header Top Views
          span.section-title-more 
            a(href="javascript:void(0);" data="views") more>>
        .clearfix
        .section-content
          .item-container
            for item in resultTopNViews
              .item-card(data=item.video_id)
                a(href='javascript:void(0)')
                  img(src=item.image_url)
                  i
                .item-title 
                  a(href='javascript:void(0)') #{item.video_name}

    .slidebar
      .slidebar-title
        span.section-title-header New Released
        span.section-title-more 
          a(href="javascript:void(0);" data="date") more>>
      .slidebar-main
        for s_item in resultTopNReleased
          .sitem-row(data=s_item.video_id)
            a(href='javascript:void(0)') !{s_item.video_name}

  .data
    input(type='hidden' id='page' value='home')            