extends ../layout

block content
  .container-dt
    .main-dt
      .section.new-released
        .section-title
          span.section-title-header New Released
          span.section-title-more 
            a(href="/search") more>>
        .clearfix
        .section-content
          .item-container
            for item in resultTopNReleased
              .item-card
                a(href=item.url target="_blank")
                  img(src=item.url)
                  i
                .item-title 
                  a(href=item.url target="_blank") #{item.video_name}
      .section.top-view
        .section-title
          span.section-title-header Top Views
          span.section-title-more 
            a(href="/search") more>>
        .clearfix
        .section-content
          .item-container
            for item in resultTopNViews
              .item-card
                a(href=item.url target="_blank")
                  img(src=item.url)
                  i
                .item-title 
                  a(href=item.url target="_blank") #{item.video_name}

    .slidebar
      .slidebar-title
        span.section-title-header New Released
        span.section-title-more 
          a(href="/search") more>>
      .slidebar-main
        for s_item in resultTopNReleased
          .sitem-row
            a(href=s_item.url target="_blank") !{s_item.video_name}

      
        
