extends ../layout

block content
    .container-dt
        #cnd.hidden
            link(rel="stylesheet" href="http://vjs.zencdn.net/6.2.8/video-js.css")
            script(src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
            script(src="http://vjs.zencdn.net/6.2.8/video.js")
        .play-area
            video#dt-video.video-js.vjs-16-9.vjs-big-play-centered.img-thumbnail.vjs-controls-enabled.vjs-has-started.vjs-user-inactive.vjs-paused(    
                controls 
                preload="auto" 
                width="560" 
                height="315" 
                data-setup='{"techOrder": ["html5", "youtube"]}'
            )
                source(src=video_url type='video/youtube')
                //source(src="MY_VIDEO.webm" type='video/webm')
                p.vjs-no-js
                    |To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href="http://videojs.com/html5-video-support/" target="_blank") supports HTML5 video
            script(src="/lib/Youtube.min.js")

        .play-info
            .p-i-row
                .p-i-row-label
                    span.p-i-title Name:
                .p-i-row-content
                    span.p-i-content #{video_name}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Category:
                .p-i-row-content
                    span.p-i-content #{categories}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Directors:
                .p-i-row-content
                    span.p-i-content #{directors}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Actors:
                .p-i-row-content
                    span.p-i-content #{actors}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Released:
                .p-i-row-content
                    span.p-i-content #{release_date}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Views:
                .p-i-row-content
                    span.p-i-content #{views}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Rate:
                .p-i-row-content
                    span.p-i-content #{rate}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Description:
                .p-i-row-content
                    span.p-i-content #{description}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Storyline:
                .p-i-row-content
                    span.p-i-content #{storyline}
        .comment-area
