extends ../layout

block content
    .container-dt
        #cnd.hidden
        .play-area
            .player-wrapper.player-16-9
                iframe(src=video_url frameborder="0" gesture="media" allowfullscreen)

        .play-info
            .p-i-row
                .p-i-row-label
                    span.p-i-title Name:
                .p-i-row-content
                    span.p-i-content #{video_name}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Category:
                .p-i-row-content
                    span.p-i-content #{categories}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Directors:
                .p-i-row-content
                    span.p-i-content #{directors}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Actors:
                .p-i-row-content
                    span.p-i-content #{actors}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Released:
                .p-i-row-content
                    span.p-i-content #{release_date}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Runtime:
                .p-i-row-content
                    span.p-i-content #{run_time}&ensp;min
            .p-i-row
                .p-i-row-label
                    span.p-i-title Views:
                .p-i-row-content
                    span.p-i-content #{number2kview(views)}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Rate:
                .p-i-row-content
                    span.p-i-content #{rate}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Description:
                .p-i-row-content
                    span.p-i-content #{description}
            .p-i-row
                .p-i-row-label
                    span.p-i-title Storyline:
                .p-i-row-content
                    span.p-i-content #{storyline}
        .comment-area
